# Ambiente virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints/

# Datos 
input/
output/
images/

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db